header{
    background-color:chocolate;
    padding: 2%;
}
li{
    color: aliceblue;
}
a{
    margin: 4%;
    text-decoration: none;
    color: aliceblue;
}
body{
    background-color: rgb(207, 127, 70);
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
}
.caja1{
    background-color: aliceblue;
    width: 280px;
    height: 480px;
    margin: 10%;
}
footer{
    background-color: chocolate;
    padding: 2%;
}
img{
    margin-left: -2%;
}